<html>
  <body>
  <h1>Items</h1>
  <ul>
    <% @displayed_items.each do |item| %>
      <li><a href="/items/<%= item.id %>"><%= item.name %></a></li>
    <% end %>
  </ul>
  <form action="/items/new" method="post">
    <div>
      <label for="name">Add Menu Item:</label>
      <input type="text" id="name" name="new_item_name"/>
      <button>Submit</button>
    </div>
  </form>
  </body>
</html>
